<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/brands.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/solid.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/regular.css') }}">
    {% block style %} {% endblock %}
</head>

<body>
    <nav>
        <a href="{{ url_for('main.index') }}">FlaskApp</a>
        <a href="{{ url_for('main.login')}}" class="nav-login">Login</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>

</html>